<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>To-Do List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1 class="Display-1"><em>To-Do List</em></h1>
      <h3><em>List items</em></h3>
      <div class="row">
        <div class="col-md-4">
          <ul>
              @{var count = 0;}
              @foreach(var item in Model)
              {
                count++;
                <div class="row">
                  <h4><strong>List Item: #@count</strong></h4>
                    <p><em>Item: </em><strong>@item.GetType()</strong></p>
                    <p><em>Complete by: </em><strong>@item.GetDate()</strong></p>
                    <p><em>Description: </em><strong>@item.GetDescription()</strong></p>
                    <p><em>Importance: </em><strong>@item.GetImportance()</strong></p>
                    <p><strong>@Html.ActionLink("Delete", "Delete", new
                      {id=@item.GetId()})</strong></p>
                </div>
                <br>
                <br>
              }

          </ul>
        </div>
        <div class="col-md-4">
          <form action="/Items/List" method="get">
            <button type='submit' class='btn btn-info'><em>Go back</em></button>
          </form>
          <br>
          <form action="/Items/AddItem" method="get">
            <button type='submit' class='btn btn-info'><em>Add another item</em></button>
          </form>
          <br>
          <form action="/" method="get">
            <button type='submit' class='btn btn-info'><em>Home</em></button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
